html
    font-size: 10px

body
    font-size: 1.5rem

//header
header
    font-size: 2rem
    text-transform: uppercase

h1
    font-size: 3rem
    text-transform: uppercase
    font-weight: bold


.news-item
    .title
        font-size: 2rem
        
        &::first-letter
            text-transform: uppercase

.news-details
    .cover-title
        font-size: 3rem
        text-transform: uppercase
        color: $news-details-title
    
    .paragraph
        font-size: 1.8rem
        line-height: 140%