// color
$header-color: #2c91d4
$secondary-color: #c0c0c0c2 
$main-admin-color: #207cb9
$main-admin-text-color: rgba(255, 255, 255, 0.95)

$border-input-color: rgba(0,0,0,0.95)

$button-bg-color: #277e11f2
$button-text-color: rgba(255, 255, 255, 0.95)

//fonts
$main-font-color: rgba(0,0,0,0.95)
$main-font-hover: rgb(226, 49, 49)
$news-details-title: rgba(255,255,255, 0.95)


//sizes
$container-size: 1180px
$wide-container-size: 90%