<h1>Main News Constructor</h1>
<ul class="constructor-news">
    <li class="constructor-news-item" *ngFor="let newsItem of mainNewsList$ | async">
        <p class="title">{{newsItem.title}}</p>
        <a [routerLink]="['/admin', 'news-editor', newsItem.id]" class="change-button">Change</a>
    </li>
    <!-- <li class="constructor-news-item">
        <p class="title">1</p>
        <a href="" class="change-button">Change</a>
    </li>
    <li class="constructor-news-item">
        <p class="title">2</p>
        <a href="" class="change-button">Change</a>
    </li>
    <li class="constructor-news-item">
        <p class="title">3</p>
        <a href="" class="change-button">Change</a>
    </li>
    <li class="constructor-news-item">
        <p class="title">4</p>
        <a href="" class="change-button">Change</a>
    </li>
    <li class="constructor-news-item">
        <p class="title">5</p>
        <a href="" class="change-button">Change</a> -->
    <!-- </li> -->
</ul>