.news-editor-wrapper
    display: flex
    justify-content: center
    margin-top: $margin-from-header

.news-editor
    display: flex
    flex-direction: column
    justify-content: center
    width: 40%
    margin-bottom: 50px

    h1
        margin-bottom: 20px