.news-editor-wrapper
    display: flex
    justify-content: center

.news-editor
    display: flex
    flex-direction: column
    justify-content: center
    width: 40%
    margin-bottom: 50px

    h1
        margin-bottom: 20px

    .buttons
        display: flex
        margin-top: 20px
        justify-content: center
        .button
            margin: 0 20px

        .save-button
            @include button($button-save-bg-color, $button-text-color)