.constructor-news
    display: flex
    flex-direction: column
    max-width: 30%

    .constructor-news-item
        display: flex
        justify-content: space-between
        align-items: center
        margin: 10px 0
        padding: 10px 20px
        background: $main-admin-color

        .change-button
            &:visited
                color: $main-admin-text-color
