.news-details, .preview
    
    .cover
        position: relative
        .img
            width: 100%

        .cover-title
            bottom: 5px
            position: absolute
            background: rgba(0,0,0,0.3)
            padding: 5px 15px
    

    .text-wrapper
        background-color: #ffebeb
        padding: 15px 20px 
        margin-top: 20px

        .paragraph
            margin: 1rem 0