<div class="news-editor">
    <h1>News editor</h1>
    <form action="POST" class="news-form-editor" [formGroup]="newsForm">
        <img class="img" style="width: 100%; cursor: pointer" src="{{newsItem.img_url}}" alt="cover" (click)="changeImage()">
        <div class="field">
            <input class="input-text" formControlName="title" [(ngModel)]="newsItem.title" placeholder="Title" name="news-title" id="news-title" type="text">
        </div>
        <!-- <div class="field">
            <textarea class="textarea" formControlName="textNews" [(ngModel)]="newsItem.text" name="news-text" placeholder="News text..." id="news-text" cols="30" rows="30"></textarea>
        </div> -->
        <angular-editor formControlName="textNews" [(ngModel)]="newsItem.text" name="news-text" placeholder="News text..." [config]="editorConfig"></angular-editor>
        <div class="field" style="display: none">
            <input #inputFile type="file" formControlName="image" accept=".jpeg,.JPEG,.jpg,.JPG,.png" name="news-cover-img" id="news-cover-img">
        </div>
        <div class="buttons">
            <a routerLink="/admin/news-constructor" class="button save-button" (click)="changeNews()" >Save</a>
            <a routerLink="/admin/news-constructor" class="button">Close</a>
        </div>
    </form>
</div>