<div class="column-wrapper">
    <div class="column" *ngIf="mainNewsItem$ | async as mainNewsItem">
        <div class="cover">
            <img class="img" src="{{mainNewsItem.imgUrl}}" alt="news-image">
            <h2 class="cover-title">{{mainNewsItem.title}}</h2>
        </div>
        <div class="text-wrapper">
            <p *ngFor="let paragraph of mainNewsItem.text.trim().split('.')" class="paragraph">{{paragraph}}</p> 
        </div>
    </div>
    <div class="column">
        <app-news-item *ngFor="let newsItem of rightColumnNewsList; let i = index"
        [newsItem]="newsItem" class="small"></app-news-item>
    </div>
</div>
<div infinite-scroll (scrolled)="onScroll()" [infiniteScrollDistance]="0.5" class="secondary-news-list">
    <app-news-item [ngClass]="isSmallNews(i, this.numberMediumNews, this.numberSmallNews) ? 'small' : 'medium'" *ngFor="let newsItem of secondaryNewsList; let i = index"
        [newsItem]="newsItem"></app-news-item>
</div>